body {
    background-color: #347C98;
}

nav {
    background-color: #26557A;
    color: #FFFFFF;
}

nav a {
    color: #FFFFFF !important;
}

nav a:hover {
    color: #f7c848 !important;
}

.dropdown a {
    color: black;
}

.fab:hover {
    color: #f7c848;
}

.card a {
    color: black;
}

.card a:hover {
    color: #db8504;
    text-decoration: none;
}

footer {
    background-color: rgba(255, 255, 255, 0.089);
    color: gainsboro;
}

footer a {
    color: gainsboro;
}

footer a:hover {
    color: #f7c848;
}